<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container-fluid">
    <div class="row">
      <app-loginpage></app-loginpage>
    </div>
        <div class="row">

          <div class="col text-start margtop">
            <!-- <img src="https://st4.depositphotos.com/1004185/20729/i/1600/depositphotos_207298750-stock-photo-united-states-vs-nicaragua-smoke.jpg"
            alt="Bandera USA"
            style="width: 90px; height: 100%;"

            > -->
          </div>

      <div class="col-9 margtop">
        <router-outlet></router-outlet>
      </div>

       <div class="col text-end margtop" >
        <!-- <img src="https://st4.depositphotos.com/1004185/20729/i/1600/depositphotos_207298750-stock-photo-united-states-vs-nicaragua-smoke.jpg"
        alt="Bandera USA"
        style="width: 90px; height: 100%"> -->
      </div>

    </div>
</div>
</body>
</html>
