<div class="container">
<hr>

<h1 class="headingformat">Conoce nuestra Historia</h1>
<hr>
<p class="historyformat">
El Centro Cultural Nicaragüense Norteamericano (CCNN) fue fundado en 1942 para servir como puente inter-cultural entre el pueblo de Nicaragua y los Estados Unidos
de América. El CCNN ha administrado una prestigiosa escuela desde hace treinta años y ha producido una generación de personas de habla inglesa, muchos de los cuales
han pasado a ofrecer un liderazgo en los negocios y la comunidad.Años mas tarde, el Centro fue destruido por el terremoto que devastó Managua en 1972 y permaneció
cerrado durante veinte años, hasta la compra de un edificio en la localidad de Nejapa (Managua) financiado por el Gobierno de los EE.UU. en el año 1993. Durante los
siguientes quince años, el CCNN creció para servir a los estudiantes en las comunidades de todo el país. <br><br>

En 2009 el CCNN inició un proceso de reorganización que comenzó con el traslado a una mejor ubicación en Los Robles, y la revitalización de los programas y servicios.
En 2011 la Junta Directiva y el Gobierno de los EE.UU. se comprometieron con la construcción de un nuevo campus ubicado en una propiedad de dos hectáreas cerca de la
Colonia Militar Villa Tiscapa, en el centro de Managua. El CCNN inauguró su nueva instalación en enero del 2014. <br><br>

El nuevo edificio

En enero del 2014, el CCNN abrió su nuevo campus de dos acres en el área de la Colonia Militar Villa Tiscapa de Managua. La instalación de USD $ 1,200,000 construida
por el Ing. Andrés Lee y su empresa SUCASA, fue una asociación entre el CCNN y el Gobierno de los EE.UU. incluye un estudio teatro, una sala de exposiciones, una zona
de actuación al aire libre, una cafetería, una biblioteca, dos laboratorios de idiomas y 30 aulas. En nuestra nueva casa, somos capaces de enseñar hasta 800 estudiantes
a la vez.
  </p>

</div>
